.box{
background-color: blueviolet;
width: 100px;
height: 100px;
margin: 5px;
}

.container{
    background-color: rgb(9, 12, 2);
    height: 400px;
    display: flex;
    flex-direction: row;                    /*bei ("row") die Boxen stehen in der Reihe, bei ("contumn") untereinander*/
    justify-content: center;                /*  ("center") horizontal zentrieren,*/    /* "space evenly" teilt es gleich mäßig auf, "space-between" */
    align-items: center;                     /* zentriert es von der neben Achse*/
}